{% extends "base.html" %}

{% block content %}
    <br>
    <table>
    <tr>
        <th>Название документа</th>
        <th>Название коллекции</th>
        <th>Испольнители</th>
        <th>Статус документа</th>
    </tr>
    <tr>

    </tr>
{#    {% for index, _ in enumerate(doc_names) %}#}
{#        <tr>#}
{#        <td>{{ doc_names[index] }}</td>#}
{#        <td>{{ coll_names[index] }}</td>#}
{#        <td>#}
{#            {% for user in user_names[index] %}#}
{#                {{ user }}#}
{#            {% endfor %}#}
{#        </td>#}
{#        <td>#}
{#            {{ status[index] }}#}
{#        </td>#}
{#        </tr>#}
{#    {% endfor %}#}

    {% for row in all_data %}
        <tr>
        {% for column in row %}
            <td>{{ column }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
{#    {% for link_key in links.keys() %}#}
{#        <br>#}
{#        <a href="{{ url_for(links[link_key]) }}">{{ link_key }}</a>#}
{#    {% endfor %}#}

{% endblock %}